<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <form method="post" action="/add_user/">
        <input type="text" name="name" placeholder="Имя"><br><br>
        <input type="email" name="email" placeholder="Email"><br><br>
        <input type="password" name="password" placeholder="Пароль"><br><br>
        <input type="password" name="confirm" placeholder="Повторите пароль"><br><br>
        <input type="submit" value="Добавить">
    </form>
</body>
</html>