<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>
        {% block title %}
            Домашнее задание
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Домашнее задание</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show justify-content-end align-items-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/students/">Студенты</a>
                    <a class="nav-link" href="/register/">Регистрация</a>
                    <a class="nav-link" href="/books/">Книги</a>
                </div>
            </div>
        </div>
    </nav>
    <div style="margin: 10px;">
        {% block content %}
            <p>
                <h2>Задание 1</h2>
                Создать базу данных для хранения информации о студентах университета. База данных должна содержать три
                таблицы:
                <ul>
                    <li>"Студенты"</li>
                    <li>"Факультеты"</li>
                    <li>"Оценки"</li>
                </ul>
                В таблице "Студенты" должны быть следующие поля:
                <ul>
                    <li>id</li>
                    <li>имя</li>
                    <li>фамилия</li>
                    <li>возраст</li>
                    <li>пол</li>
                    <li>email</li>
                    <li>группа</li>
                    <li>id факультета</li>
                </ul>
                В таблице "Факультеты" должны быть следующие поля:
                <ul>
                    <li>id</li>
                    <li>название факультета</li>
                </ul>
                В таблице "Оценки" должны быть следующие поля
                <ul>
                    <li>id</li>
                    <li>id студента</li>
                    <li>название предмета</li>
                    <li>оценка</li>
                    <li>id факультета</li>
                </ul>
                Необходимо связать таблицу "Студенты" с таблицей "Факультеты" и таблицу "Студенты" с таблицей "Оценки".
                Написать функцию-обработчик, которая будет выводить список всех студентов с указанием их факультета и
                оценок.
                <a class="nav-link" href="/students/" style="color: blue;">Решение задания 1</a><br>
            </p>

            <p>
                <h2>Задание 2</h2>
                Создайте форму регистрации пользователя с использованием Flask-WTF. Форма должна содержать следующие
                поля:
                <ul>
                    <li>имя пользователя (обязательное поле)</li>
                    <li>электронная почта (обязательное поле, с валидацией на корректность ввода email)</li>
                    <li>дата рождения(обязательное поле, с валидацией на дату в формате дд.мм.гггг)</li>
                    <li>пароль (обязательное поле, с валидацией на минимальную длину пароля в 8 символов и содержание
                        хотя бы одной буквы и одной цифры)</li>
                    <li>подтверждение пароля (обязательное поле, с валидацией на совпадение с паролем)</li>
                </ul>
                После отправки формы данные должны сохраняться в базе данных (можно использовать SQLite) и выводиться
                сообщение об успешной регистрации. Пароль должен быть зашифрован. Если какое-то из обязательных полей не
                заполнено или данные не прошли валидацию, то должно выводиться соответствующее сообщение об ошибке.
                Добавить проверку на уникальность имени пользователя и электронной почты в базе данных. Если такой
                пользователь уже зарегистрирован, то должно выводиться сообщение об ошибке.
                <a class="nav-link" href="/register/" style="color: blue;">Решение задания 2</a>
            </p>

            <p>
                <h2>Задание 3</h2>
                Создать базу данных для хранения информации о книгах в библиотеке.
                База данных должна содержать две таблицы:
                <ul>
                    <li>"Книги"</li>
                    <li>"Авторы"</li>
                </ul>
                В таблице "Книги" должны быть следующие поля:
                <ul>
                    <li>id</li>
                    <li>название</li>
                    <li>год издания</li>
                    <li>количество экземпляров</li>
                    <li>id автора</li>
                </ul>
                В таблице "Авторы" должны быть следующие поля:
                <ul>
                    <li>id</li>
                    <li>имя</li>
                    <li>фамилия</li>
                </ul>
                Необходимо создать связь между таблицами "Книги" и "Авторы". Написать функцию-обработчик, которая будет
                выводить список всех книг с указанием их авторов. У книги может быть несколько авторов, также как и у
                автора может быть несколько книг.
                <a class="nav-link" href="/books/" style="color: blue;">Решение задания 3</a>
            </p>
        {% endblock %}
    </div>
    <br><br><br><br>
    <div class="row fixed-bottom  modal-footer">
        <hr>
        <p>Все права защищены &copy;</p>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>